{% extends 'base.html' %}


{% block content %}



<section class="section-conten padding-y bg">

    {% include 'includes/alerts.html' %} 
    <div class="container">
        <div class="row">
        {% include 'accounts/dashboard_sidebar.html' %}
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Change Password</strong>
            </header>
            <div class="card-body">
                <div class="row">
                    <form action="{% url 'change_password' %}" method="POST">
                        {% csrf_token %}
                        <div class="col-md-12">
                            <label class="form-label"><strong>Enter Current Password</strong></label>
                            <input type="password" class="form-control" placeholder="Enter your current Password" name="old_password">
                        </div>
                        <div class="col-md-12">
                            <label class="form-label"><strong>Enter New Password</strong></label>
                            <input type="password" class="form-control" placeholder="Enter your New Password" name="new_password">
                        </div>
                        <div class="col-md-12">
                            <label class="form-label"><strong>Confirm your Password</strong></label>
                            <input type="password" class="form-control" placeholder="Confirm your password Password" name="confirm_password">
                        </div>
                        <div class="col-md-12">
                            <input type="submit" class="form_control btn btn-primary" value="submit">
                        </div>
                        
                    </form>
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
            
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>




{% endblock %}